:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--body-bg-color);
}

div{
    margin: 0 auto;
}
.container-pic{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
   align-items: center;
}
.profile-pic{
    border-radius: 100%;
    border: solid var(--purple);
    padding: 5px;
    height: 200px;
    width: 200px;

}
p{
    font-weight: 300;
    color: var(--purple);
    margin:10px;
}

a{
    text-decoration: none;
    color: var(--purple);
}

.link-container{
    display: flex;
    flex-direction: column;
    justify-items: center;

}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #BB99DD;
    border-radius: 4px;
    padding: 10px;
    height: 50px;
    width: 326px;
    
}
.link a{
    text-align: center;
    margin: 0 auto;
}
footer{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 68px;
}
footer a{
    margin: 10px;
}